h1.calculator-title span.yellow {
  color: #c5a825; /* Bright yellow color */
}

h1 {
  font-size: 7.2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  margin-left: -1px; /* Adjust the margin to shift left */
  margin-right: 40px;
  text-align: left; /* Ensure alignment is to the left */
  padding: None;
}

.calculator {
  background-color: #f9f9f9; /* Light background color */
}


.calculator label {
  display: contents;
  margin: 0.5rem 0 0.2rem;
}

.calculator input,
.calculator select,
.calculator button {
  width: 100%; /* Full width */
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  box-sizing: border-box; /* Prevents padding issues */
}

.calculator button {
  background-color: #4CAF50;
  transition: background-color 0.3s ease;
}

.calculator button:hover {
  background-color: #45a049;
}



label {
  text-align: left;
  font-weight: bold;
  font-size: 0.9rem;
  color: #555;
}

input, select, button {
  width: 100%;
  padding: 0.8rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

input:focus, select:focus {
  box-shadow: 0 0 5px rgba(79, 172, 254, 0.4);
}

button {
  color: white;
  font-weight: bold;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s;
}

#results {
  margin-top: 3rem; /* Adjust margin for spacing */
  text-align: left;
  margin-left: 50px;
  position: absolute; /* Use absolute positioning */
  bottom: 0; /* Ensure it's at the bottom of the container */
  width: 100%; /* Make it span the width of the container */
}

#results h2 {
  font-size: 1.4rem;
  color: #333;
}

#results p {
  font-size: 1.1rem;
  margin: 0.5rem 0;
  color: #666;
}
